@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }

  .custom-scroll {
    overflow: auto;
    position: relative;
  }

  /* 기본 스크롤바 */
  .custom-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* 트랙은 완전 투명 */
  .custom-scroll::-webkit-scrollbar-track {
    background: transparent;
  }

  /* thumb: 존재는 하지만 거의 안 보임 */
  .custom-scroll::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.2s ease, background 0.2s ease;
  }

  /* hover 시 등장 */
  .custom-scroll:hover::-webkit-scrollbar-thumb {
    opacity: 1;
    background: rgba(0, 0, 0, 0.25);
  }

  /* thumb hover시 조금 더 진하게 */
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: oklch(0.855 0.138 181.071);
  }

  /* Firefox 대응 */
  .custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.05) transparent;
  }

  .custom-scroll:hover {
    scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
  }
}
